// 表格组件样式
@use '../tokens' as *;
@use '../mixins' as *;

.table-content {
  @include card();
  padding: spacing(md);
}

.pagination-content {
  margin-top: spacing(md);
  padding-bottom: spacing(md);
  text-align: right;
}
